In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 1.-Importa las librer√≠as necesarias para leer ficheros txt, csv, excel, json...

https://aprendeconalf.es/docencia/python/manual/pandas/

https://es.stackoverflow.com/questions/405142/c%c3%b3mo-importar-las-librer%c3%adas-de-manera-r%c3%a1pida-y-optimizada-en-python

In [22]:
import pandas as pd

## 2.-Importar datos desde CSV

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

https://stackoverflow.com/questions/14365542/import-csv-file-as-a-pandas-dataframe

In [50]:
df = pd.read_csv('/content/drive/MyDrive/IronhackFDA_ejercicios/Data/file1.csv')
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Date,desempleado
0,RB50392,Washington,MA,Master,NaN,0.0,1000,12/30/1899,Personal Auto,Four-Door Car,2.704934,10/30/1995,True
1,QZ44356,Arizona,F,Bachelor,69795359%,0.0,94,12/30/1899,Personal Auto,Four-Door Car,1131.464935,12/2/1998,False
2,AI49188,Nevada,F,Bachelor,128874317%,NaN,108,12/30/1899,Personal Auto,Two-Door Car,566.472247,5/16/1997,True
3,WW63253,California,M,Bachelor,76458618%,0.0,106,12/30/1899,Corporate Auto,SUV,529.881344,4/9/1997,False
4,GA49547,Washington,M,High School or Below,53630765%,36357.0,68,12/30/1899,Personal Auto,Four-Door Car,17.269323,11/14/1995,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,30595503%,38644.0,78,1/1/2000,Personal Auto,Four-Door Car,361.455219,10/23/1996,True
1067,VJ51327,Cali,F,High School or Below,203149976%,63209.0,102,2/1/2000,Personal Auto,SUV,207.320041,5/22/1996,False
1068,GS98873,Arizona,F,Bachelor,32391247%,16061.0,88,12/30/1899,Personal Auto,Four-Door Car,633.600000,7/22/1997,True
1069,CW49887,California,F,Master,46268011%,79487.0,114,12/30/1899,Special Auto,SUV,547.200000,4/27/1997,False
1070,MY31220,California,F,College,89970402%,54230.0,112,12/30/1899,Personal Auto,Two-Door Car,537.600000,4/17/1997,True

## 3.-Muestra las primeras l√≠neas del fichero importado y comprueba que se ha cargado correctamente

https://www.analyticslane.com/2021/03/08/pandas-seleccionar-las-primeras-o-ultimas-filas-de-un-dataframe-pandas-con-head-o-tail/

In [51]:
df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Date,desempleado
0,RB50392,Washington,MA,Master,NaN,0.0,1000,12/30/1899,Personal Auto,Four-Door Car,2.704934,10/30/1995,True
1,QZ44356,Arizona,F,Bachelor,69795359%,0.0,94,12/30/1899,Personal Auto,Four-Door Car,1131.464935,12/2/1998,False
2,AI49188,Nevada,F,Bachelor,128874317%,NaN,108,12/30/1899,Personal Auto,Two-Door Car,566.472247,5/16/1997,True
3,WW63253,California,M,Bachelor,76458618%,0.0,106,12/30/1899,Corporate Auto,SUV,529.881344,4/9/1997,False
4,GA49547,Washington,M,High School or Below,53630765%,36357.0,68,12/30/1899,Personal Auto,Four-Door Car,17.269323,11/14/1995,True

## Caracter√≠sticas dataframe

### 4.-Cuantas lineas y columnas tienen nuestros datos importados?


https://www.w3schools.com/python/pandas/ref_df_shape.asp#:~:text=Pandas%20DataFrame%20shape%20Property%201%20Definition%20and%20Usage,number%20of%20rows%20and%20columns.%20%E2%9D%AE%20DataFrame%20Reference

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html

In [52]:
df.shape

(1071, 13)

### 5.-De qu√© formato son las variables de nuestra tabla? Hay alguna variable a la que se lo cambiar√≠as?


https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html

https://www.w3schools.com/python/pandas/ref_df_info.asp

In [53]:
df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto           int64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
Date                          object
desempleado                     bool
dtype: object

## Preparaci√≥n dataframe

### 6.-Crea una nueva variable "fecha" con el formato m√°s adecuado

https://datatofish.com/strings-to-datetime-pandas/

https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [54]:
df['Fecha'] = pd.to_datetime(df['Date'])
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Date,desempleado,Fecha
0,RB50392,Washington,MA,Master,NaN,0.0,1000,12/30/1899,Personal Auto,Four-Door Car,2.704934,10/30/1995,True,1995-10-30
1,QZ44356,Arizona,F,Bachelor,69795359%,0.0,94,12/30/1899,Personal Auto,Four-Door Car,1131.464935,12/2/1998,False,1998-12-02
2,AI49188,Nevada,F,Bachelor,128874317%,NaN,108,12/30/1899,Personal Auto,Two-Door Car,566.472247,5/16/1997,True,1997-05-16
3,WW63253,California,M,Bachelor,76458618%,0.0,106,12/30/1899,Corporate Auto,SUV,529.881344,4/9/1997,False,1997-04-09
4,GA49547,Washington,M,High School or Below,53630765%,36357.0,68,12/30/1899,Personal Auto,Four-Door Car,17.269323,11/14/1995,True,1995-11-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,30595503%,38644.0,78,1/1/2000,Personal Auto,Four-Door Car,361.455219,10/23/1996,True,1996-10-23
1067,VJ51327,Cali,F,High School or Below,203149976%,63209.0,102,2/1/2000,Personal Auto,SUV,207.320041,5/22/1996,False,1996-05-22
1068,GS98873,Arizona,F,Bachelor,32391247%,16061.0,88,12/30/1899,Personal Auto,Four-Door Car,633.600000,7/22/1997,True,1997-07-22
1069,CW49887,California,F,Master,46268011%,79487.0,114,12/30/1899,Special Auto,SUV,547.200000,4/27/1997,False,1997-04-27
1070,MY31220,California,F,College,89970402%,54230.0,112,12/30/1899,Personal Auto,Two-Door Car,537.600000,4/17/1997,True,1997-04-17

### 7.-Comprueba que el formato a cambiado correctamente

In [49]:
df.dtypes

Customer                             object
ST                                   object
GENDER                               object
Education                            object
Customer Lifetime Value              object
Income                              float64
Monthly Premium Auto                  int64
Number of Open Complaints            object
Policy Type                          object
Vehicle Class                        object
Total Claim Amount                  float64
Date                                 object
desempleado                            bool
Fecha                        datetime64[ns]
dtype: object

In [55]:
df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Date,desempleado,Fecha
0,RB50392,Washington,MA,Master,NaN,0.0,1000,12/30/1899,Personal Auto,Four-Door Car,2.704934,10/30/1995,True,1995-10-30
1,QZ44356,Arizona,F,Bachelor,69795359%,0.0,94,12/30/1899,Personal Auto,Four-Door Car,1131.464935,12/2/1998,False,1998-12-02
2,AI49188,Nevada,F,Bachelor,128874317%,NaN,108,12/30/1899,Personal Auto,Two-Door Car,566.472247,5/16/1997,True,1997-05-16
3,WW63253,California,M,Bachelor,76458618%,0.0,106,12/30/1899,Corporate Auto,SUV,529.881344,4/9/1997,False,1997-04-09
4,GA49547,Washington,M,High School or Below,53630765%,36357.0,68,12/30/1899,Personal Auto,Four-Door Car,17.269323,11/14/1995,True,1995-11-14

### 8.-Suma varios d√≠as a la nueva variable fecha que has creado anteriormente

In [57]:
from datetime import timedelta

# Sumar 7 d√≠as a todas las fechas en la columna 'Fecha'
dias_a_sumar = timedelta(days=7)
df['Fecha'] = df['Fecha'] + dias_a_sumar
df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Date,desempleado,Fecha
0,RB50392,Washington,MA,Master,NaN,0.0,1000,12/30/1899,Personal Auto,Four-Door Car,2.704934,10/30/1995,True,1995-11-13
1,QZ44356,Arizona,F,Bachelor,69795359%,0.0,94,12/30/1899,Personal Auto,Four-Door Car,1131.464935,12/2/1998,False,1998-12-16
2,AI49188,Nevada,F,Bachelor,128874317%,NaN,108,12/30/1899,Personal Auto,Two-Door Car,566.472247,5/16/1997,True,1997-05-30
3,WW63253,California,M,Bachelor,76458618%,0.0,106,12/30/1899,Corporate Auto,SUV,529.881344,4/9/1997,False,1997-04-23
4,GA49547,Washington,M,High School or Below,53630765%,36357.0,68,12/30/1899,Personal Auto,Four-Door Car,17.269323,11/14/1995,True,1995-11-28

## 9.-Calcula la suma y la media de Income para cada sexo

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

https://realpython.com/pandas-groupby/

In [58]:
df.groupby('GENDER')['Income'].sum()

GENDER
F         18118241.0
Femal       700022.0
M         16555365.0
MA         4330262.0
Male       1427237.0
female      905802.0
Name: Income, dtype: float64

In [59]:
df.groupby('GENDER')['Income'].mean()

GENDER
F         39732.984649
Femal     41177.764706
M         40085.629540
MA        37010.786325
Male      36595.820513
female    32350.071429
Name: Income, dtype: float64

## 10.-Calcula la suma y la media de Income para los cada sexo y estado civil

In [60]:
df.groupby(['GENDER', 'desempleado'])['Income'].sum()

GENDER  desempleado
F       False          9568165.0
        True           8550076.0
Femal   False           378446.0
        True            321576.0
M       False          7220304.0
        True           9335061.0
MA      False          2220610.0
        True           2109652.0
Male    False           934559.0
        True            492678.0
female  False           351008.0
        True            554794.0
Name: Income, dtype: float64

In [62]:
df.groupby(['GENDER', 'desempleado'])['Income'].mean()

GENDER  desempleado
F       False          38272.660000
        True           41505.223301
Femal   False          47305.750000
        True           35730.666667
M       False          38611.251337
        True           41305.579646
MA      False          39653.750000
        True           34584.459016
Male    False          46727.950000
        True           25930.421053
female  False          25072.000000
        True           39628.142857
Name: Income, dtype: float64

## 11-Crea una nueva tabla en la que solo salgan los hombres. Filtra la anterior por Gender = Male

https://www.analyticslane.com/2019/05/10/operaciones-de-filtrado-de-dataframe-con-pandas-en-base-a-los-valores-de-las-columnas/

In [78]:
tabla_hombres = df[df['GENDER'].isin(['MA','M','Male'])]
tabla_hombres['GENDER'].unique()

array(['MA', 'M', 'Male'], dtype=object)

## 12.-Ahora muestra en pantalla los hombres que tengan un Total Claim Amount superior a 300

In [81]:
tabla_hombres[tabla_hombres['Total Claim Amount']>300]

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Date,desempleado,Fecha
3,WW63253,California,M,Bachelor,76458618%,0.0,106,12/30/1899,Corporate Auto,SUV,529.881344,4/9/1997,False,1997-04-23
7,CF85061,Arizona,M,Master,72161003%,0.0,101,12/30/1899,Corporate Auto,Four-Door Car,363.029680,10/25/1996,False,1996-11-08
8,DY87989,Oregon,M,Bachelor,241275040%,14072.0,71,12/30/1899,Corporate Auto,Four-Door Car,511.200000,3/22/1997,True,1997-04-05
10,SX51350,California,M,College,47389920%,0.0,67,12/30/1899,Personal Auto,Four-Door Car,482.400000,2/21/1997,True,1997-03-07
11,VQ65197,California,MA,College,81971971%,0.0,110,12/30/1899,Personal Auto,SUV,528.000000,4/8/1997,False,1997-04-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1057,MD73554,Cali,M,College,52519840%,59537.0,66,12/30/1899,Personal Auto,Two-Door Car,316.800000,9/8/1996,False,1996-09-22
1058,UX92071,Oregon,M,High School or Below,67431193%,0.0,199,12/30/1899,Personal Auto,Luxury SUV,955.200000,6/9/1998,True,1998-06-23
1059,YG44474,Oregon,M,College,140147213%,54193.0,117,12/30/1899,Corporate Auto,SUV,720.752945,10/17/1997,False,1997-10-31
1060,UH45301,Oregon,M,College,94389156%,86946.0,118,12/30/1899,Personal Auto,Four-Door Car,340.656963,10/2/1996,True,1996-10-16
1066,TM65736,Oregon,M,Master,30595503%,38644.0,78,1/1/2000,Personal Auto,Four-Door Car,361.455219,10/23/1996,True,1996-11-06

## 13.-Quita los duplicados

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop_duplicates.html

## 14.-Demuestra si hab√≠a duplicados o no

## 15.-Ordena la tabla por Customer

https://datagy.io/pandas-sort-values/#:~:text=As%20a%20quick%20refresher%3A%201%20The%20Pandas%20.sort_values,you%20to%20build%20a%20tidier%20DataFrame%20M%C3%A1s%20elementos




https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html

## 16.-Ordena la tabla por Customer y ST

## 17.-Como has visto anteriormente, las variables Gender, ST y Education tienen valores "raros", por ejemplo Gender toma valores MA o M. Crea nuevas variables con esos valores unificados

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

## INDICES

N√∫mero de serie de cada l√≠nea de un dataframe. Originalmente, cuando importas o creas una nueva tabla, es una columna que va desde 0 hasta la longitud (n√∫mero de l√≠neas) del propio dataframe.

En ocasiones nos interesa que una de nuestras columnas sea el √≠ndice, para ello existe el m√©todo .set_index('columna'), que nos permite cambiar el √≠ndice de la tabla.

A trav√©s del m√©todo .reset_index() volvemos la acci√≥n para atr√°s

In [ ]:
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Date,Date2
0,RB50392,Washington,NaN,Master,NaN,0,1000,1/0/00,Personal Auto,Four-Door Car,2.704934,30/10/1995,1995-10-30
1,QZ44356,Arizona,F,Bachelor,697953.59%,0,94,1/0/00,Personal Auto,Four-Door Car,1131.464935,02/12/1998,1998-02-12
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767,108,1/0/00,Personal Auto,Two-Door Car,566.472247,16/05/1997,1997-05-16
3,WW63253,California,M,Bachelor,764586.18%,0,106,1/0/00,Corporate Auto,SUV,529.881344,09/04/1997,1997-09-04
4,GA49547,Washington,M,High School or Below,536307.65%,36357,68,1/0/00,Personal Auto,Four-Door Car,17.269323,14/11/1995,1995-11-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.03%,38644,78,01/01/2000,Personal Auto,Four-Door Car,361.455219,23/10/1996,1996-10-23
1067,VJ51327,Cali,F,High School or Below,2031499.76%,63209,102,01/02/2000,Personal Auto,SUV,207.320041,22/05/1996,1996-05-22
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,Personal Auto,Four-Door Car,633.600000,22/07/1997,1997-07-22
1069,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,Special Auto,SUV,547.200000,27/04/1997,1997-04-27
1070,MY31220,California,F,College,899704.02%,54230,112,1/0/00,Personal Auto,Two-Door Car,537.600000,17/04/1997,1997-04-17

In [ ]:
df.index

RangeIndex(start=0, stop=1071, step=1)

## 18.-Establece la variable Customer como Indice

https://www.delftstack.com/es/howto/python-pandas/set-column-as-index-pandas/#:~:text=Normalmente%2C%20en%20un%20Pandas%20DataFrame%2C%20tenemos%20n%C3%BAmeros%20de,columna%20espec%C3%ADfica%20de%20un%20dataframe%20sea%20su%20%C3%ADndice.

## 19.-Usa el reset index para volver atr√°s

## 20.-Renombra las variables del ingl√©s al espa√±ol

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

https://www.geeksforgeeks.org/python-pandas-dataframe-rename/

## Descripci√≥n de los datos

In [ ]:
# estad√≠sticos b√°sicos de las varaiables num√©ricas
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html
df.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [ ]:
# https://dataindependent.com/pandas/pandas-describe-pd-dataframe-describe/#:~:text=By%20default%2C%20pandas%20will%20only%20describe%20your%20numeric,Pandas%20will%20not%20calculate%20things%20like%20%E2%80%98average%20time%2Fdate%E2%80%99.
df.describe(include = 'all',percentiles = (0.10, 0.15,0.80, 0.85, 0.90, 0.95))

,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Date
count,1071,954,1071,1068,1071.000000,1071.000000,1071,1071,1071,1071.000000,1071
unique,8,5,6,1027,NaN,NaN,6,3,6,NaN,495
top,Oregon,F,Bachelor,445811.34%,NaN,NaN,1/0/00,Personal Auto,Four-Door Car,NaN,13/09/1996
freq,320,457,324,4,NaN,NaN,830,780,576,NaN,20
mean,NaN,NaN,NaN,NaN,39295.701214,193.234360,NaN,NaN,NaN,404.986909,NaN
std,NaN,NaN,NaN,NaN,30469.427060,1601.190369,NaN,NaN,NaN,293.027260,NaN
min,NaN,NaN,NaN,NaN,0.000000,61.000000,NaN,NaN,NaN,0.382107,NaN
10%,NaN,NaN,NaN,NaN,0.000000,64.000000,NaN,NaN,NaN,67.881546,NaN
15%,NaN,NaN,NaN,NaN,0.000000,65.000000,NaN,NaN,NaN,106.206302,NaN
50%,NaN,NaN,NaN,NaN,36234.000000,83.000000,NaN,NaN,NaN,354.729129,NaN
80%,NaN,NaN,NaN,NaN,70014.000000,112.000000,NaN,NaN,NaN,571.200000,NaN
85%,NaN,NaN,NaN,NaN,76334.000000,117.000000,NaN,NaN,NaN,639.285052,NaN
90%,NaN,NaN,NaN,NaN,83707.000000,129.000000,NaN,NaN,NaN,729.600000,NaN
95%,NaN,NaN,NaN,NaN,90802.000000,168.000000,NaN,NaN,NaN,921.600000,NaN
max,NaN,NaN,NaN,NaN,99960.000000,35354.000000,NaN,NaN,NaN,2893.239678,NaN